"type":"metric",
"properties": {
    "metrics": [
        [
            "${metrics_namespace}",
            "num-ratings-filtered-out",
            "Environment",
            "${environment}"
        ]
    ],
    "period":300,
    "stat":"Maximum",
    "region":"${region}",
    "title":"Number of ratings for this user that we filtered out (either not visible or score too low)"
}
