"type":"metric",
"properties": {
    "metrics": [
        [
            "${metrics_namespace}",
            "total-ratings",
            "Environment",
            "${environment}"
        ]
    ],
    "period":300,
    "stat":"Maximum",
    "region":"${region}",
    "title":"Total number of ratings found in the system"
}
